extends layout

block css
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css')
  link(rel='stylesheet', href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.css')

block content
  div(id='map')

block js
  script(src='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.js')
  script(src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.2/leaflet.draw.js')
  script(src='/javascripts/map.js')